body {
    padding: 0;
    margin: 0;
}

#playfield {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-color: #fff;
    position: relative;
}

.box {
    position: absolute;
}